@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background: #f5f5f5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  padding: 3rem;
}
.app--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  /* max-width: 70%; */
}
header {
  text-align: center;
  margin-bottom: 1rem;
}
.heading {
  font-weight: 800;
}
.sub--heading {
  display: block;
  font-weight: 600;
}
.input--container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding-right: 7rem;
  width: 70%;
}

.input {
  width: 70%;
  height: 2.2rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem;
}
.label {
  font-weight: 700;
}
.input--parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50%;
  gap: 2rem;
  margin-bottom: 1rem;
}
.input--section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dropdown--box {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.dropdown {
  padding: 0.6rem;
  border-radius: 5px;
  width: 35%;
  font-weight: 700;
}
.table--container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
td,
th {
  border: 1px solid #777;
  padding: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background: #eee;
}
caption {
  font-size: 0.8rem;
}
.calculate-btn{
    text-align: center;
    margin: 2rem;

    .btn {
        background-color: grey;
        border: none;
        color: white;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        border-radius: .8rem;
      }
}
